# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.yarn/cache

# dependencies
/node_modules

# production
/build

# misc
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
