@font-face {
  font-family: 'SanFrancisco';
  src: url('./assets/SFNSRounded.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root::-webkit-scrollbar {
  width: 8px;
  background-color: var(--scrollbar-track, trasparent);
}

:root::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
  background-color: var(--scrollbar-thumb, #6060ff);
}

:root {
  --app-bgc: #ffffff;
  --app-bgc-colored: #f2f2ff;

  --app-bdc: #d9d9ff;
  --app-primary: #6060ff;
  --app-primary-h: #6060ff52;

  --app-danger: #ff4040;
  --app-danger-h: #ff404052;

  --app-c: #0a0a0a;
}

*,
*::after,
*::before {
  font-family: 'SanFrancisco', sans-serif;
  font-size: 16px;
  font-weight: 400;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--app-c);
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}
